public/data/**/*.json -text
public/design-md/** -text
public/image-skills/** -text
public/effects-atlas/** -text
src/data/*.json -text
public/data/discovery/previews/*.html -text -diff

public/resource-code/** -text
public/resource-demos/** -text
public/resource-previews/** -text

public/presentation-resources/** -text

public/graphics-resources/** -text
